<div class="hero-unit">
<h1>Connexion</h1>
<!--
  <p>Utilisez un des services ci-dessous pour vous connecter :</p>
  <div class="auth_providers">
    <a href="/auth/twitter" class="auth_provider">
      <%= image_tag "twitter_64.png", size: "64x64", alt: "Twitter" %>
      Twitter
    </a>
    <a href="/auth/facebook" class="auth_provider">
      <%= image_tag "facebook_64.png", size: "64x64", alt: "Facebook" %>
      Facebook
    </a>
    <a href="/auth/google_apps" class="auth_provider">
      <%= image_tag "google_apps_64.png", size: "64x64", alt: "Google" %>
      Google
    </a>
    <a href="/auth/ldap" class="auth_provider">
      <%= image_tag "ldap_124.png", size: "64x64", alt: "LDAP" %>
      LDAP
    </a>
  </div>
<p><strong>Vous n'utilisez pas ces services ?</strong> 
-->
<p><%= link_to "Créer un compte", new_identity_path %> ou connectez-vous ci-dessous :</p>
  
<%= form_tag "/auth/identity/callback", :class => 'well form-inline' do %>
  <%= text_field_tag :auth_key, nil, :class => "input-medium", :placeholder => "Email" %>
  <%= password_field_tag :password, nil, :class => "input-small", :placeholder => "Password" %>
  <%= button_tag "Login", :type => "submit", :class => "btn" %>
<% end %>
</div>
