<p id="notice"><%= notice %></p>
<h1>User Profile</h1>
<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>
<p>
  <strong>Provider:</strong>
  <%= @user.provider %>
</p>
<p>
  <strong>OmniAuth UID:</strong>
  <%= @user.uid %>
</p>
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', dashboard_path %>
