<p id="notice"><%= notice %></p>
<div class="well">
<p>
  <%= @gravatar_img %>
</p>
<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>
<p>
  <strong>Provider:</strong>
  <%= @user.provider %>
</p>
<p>
  <strong>OmniAuth UID:</strong>
  <%= @user.uid %>
</p>
</div>
<%= link_to 'Back', dashboard_path, :class => "btn" %>
