<div class="row">
  <div class="span4">
    <h1>JunkFood
      <% unless @view_name.blank? %>
        <small> <%= @view_name %></small>
      <% end %>
    </h1>
  </div>
  <div class="span7">
    <% if current_user %>
      <div class="btn-group pull-right">
        <%= link_to user_path(current_user.id), :class => "btn" do %>
          <i class="icon-user"></i> <%= current_user.name %>
        <% end %>
        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><%= link_to user_path(current_user.id) do %>
              <i class="icon-edit"></i> Edit
            <% end %></li>
          <li class="divider"></li>
          <li><%= link_to "/logout" do %>
              <i class="icon-off"></i> Log out
            <% end %></li>
        </ul>
      </div>
    <% end %>
  </div>
</div>
